/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --dark-green: #194d33;
    --mid-green: #25744d;
    --lighter-green: #319b66;
}

.main-default {
    margin-top: 75px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Save success styles
-------------------------------------------------- */
.save-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    position: fixed;
    height: 60px;
    top: 45%;
    left: 0%;
    margin-left: 35%;
    width: 30%;
    font-size: 1.5rem;
    text-align: center;
}

/* Video styles
-------------------------------------------------- */
.video-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 */
    position: relative;
}

.video-container iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;      
    height: 100%;
    width: 100%;
}

/* Hero styles
-------------------------------------------------- */
.hero-heading {
    position: absolute;
    inset: 0;
    margin: auto;
    text-align: center;
    width: 320px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading-text {
    color: white;
    font-size: 0.9rem;
}

.hero-register-button {
    font-size: .8rem;
    cursor: pointer;
    margin-top: 2px;
}

.section-divider {
    height: 1px;
    background-color: var(--dark-green);
    margin-top: 40px;
}

.section-header {
    margin-top: 40px;
}

a:hover .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .hero-heading {
        width: 600px;
        height: 200px;
        padding: 20px;
    }

    .hero-heading-text {
        color: #fff;
        font-size: 1.5rem;
    }

    .hero-register-button {
        font-size: 1rem;
        margin-top: 5px;
    }
}

/* Bootstrap button overrides
-------------------------------------------------- */
.btn-primary {
    color: #fff;
    background-color: var(--dark-green);
    border-color: var(--dark-green);
}

.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background-color: var(--mid-green);
    border-color: var(--mid-green);
}

.btn.btn-primary.active,
.btn.btn-primary:active,
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: var(--lighter-green);
    border-color: var(--lighter-green);
}

.btn-primary:disabled {
    background-color: var(--lighter-green);
    border-color: var(--lighter-green);
}


/* Bootstrap form control overrides
-------------------------------------------------- */
.form-control:focus {
    border-color: var(--lighter-green);
    box-shadow: 0 0 0 0.2rem rgba(49, 155, 102, 0.25); /* --lighter-green */
}

/* Navbar separator styles
-------------------------------------------------- */
@media only screen and (min-width: 768px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0 0.5em;
    }

    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-right: 1px solid var(--mid-green);
    }
}

/* Custom widths
-------------------------------------------------- */
.w-70 {
    width: 70%;
}

.w-15 {
    width: 15%;
}

/* Custom margin
-------------------------------------------------- */
.mt-1px {
    margin-top: 1px;
}

/* Custom colors
-------------------------------------------------- */

.bg-mid-green {
    background-color: var(--mid-green);
}

.bg-lighter-green-005 {
    background-color: rgba(49, 155, 102, 0.05); /* --lighter-green 5% opacity */
}

/* Pointer
-------------------------------------------------- */
.pointer {
    cursor: pointer;
}
