@model IEnumerable<GoodNature.Entities.Category>
@using GoodNature.Extensions
@using GoodNature.Areas.Admin.Models

@{
    ViewData["Title"] = "Index";
}

<h3 class="mt-4">Assign Users to Categories</h3>
<hr />

<form id="usersToCategory" asp-action="Index">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <h4>Categories</h4>
                <select id="CategoryId" name="CategoryId" class="form-control" asp-items="@Model.ConvertToSelectList(0)">
                    <option value="">--Please choose a category--</option>
                </select>
            </div>
        </div>
    </div>
    <div id="alertPlaceholder"></div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <h4>Users</h4>
            <div class="form-group">
                <div id="usersCheckList">
                    <partial name="_UsersListViewPartial" model="new UsersCategoryListModel { CategoryId=0, Users=null, UsersSelected=null }" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group text-right">
                <button type="button" id="saveSelectedUsers" name="saveSelectedUsers" class="btn btn-outline-info">Save</button>
            </div>
        </div>
    </div>
</form>
<div class="alert save-success collapse" role="alert">
    Changes saved
</div>


@section Scripts{
    <script src="~/js/userstocategory.js"></script>
    <script src="~/js/bootstrapalerts.js"></script>
}
