@model CategoriesToUserModel

<div class="row mt-5">
    <div class="col-md-10">
        <h2>Select Conservation Projects</h2>
    </div>
</div>
<form asp-action="Index">
    <div class="row mt-3">
        <div class="col-md-10">
            <table class="table table-bordered">
                @if (Model != null)
                {
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td class="text-center w-15">
                                    @if (Model.CategoriesSelected != null && Model.CategoriesSelected.Contains(category, new CompareCategories()))
                                    {
                                        <input type="checkbox" class="form-check-input" id="categoriesSelected" name="categoriesSelected" checked value="@category.Id" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="form-check-input" id="categoriesSelected" name="categoriesSelected" value="@category.Id" />                                        
                                    }
                                </td>
                                <td>@category.Title</td>

                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 d-flex">
            <input type="submit" value="Save" class="btn btn-primary text-light shadow-none" />
        </div>
    </div>
</form>
