@model CategoryDetailsModel

@using GoodNature.Data

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.GroupedActiveCategoryItemsModels != null || Model.GroupedSelectedCategoryItemsModels != null)
{
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Your Conservation Projects</h2>
        </div>
        <div class="col-md-6 text-right">
            <a asp-controller="CategoriesToUser" asp-action="Index" class="btn btn-primary text-light shadow-none">Choose Projects</a>
        </div>
    </div>

    bool active = Model.GroupedActiveCategoryItemsModels.Count() > 0;
    bool selected = Model.GroupedSelectedCategoryItemsModels.Count() > 0;

    if (active || selected)
    {
        if (active)
        {
            <h3>Applied</h3>

            <partial name="_GroupedCategoryItemsPartial" model="@Model.GroupedActiveCategoryItemsModels" />
        }
        if (selected)
        {
            <h3>Shortlisted</h3>

            <partial name="_GroupedCategoryItemsPartial" model="@Model.GroupedSelectedCategoryItemsModels" />
        }       
    }   
    else
    {
         <div class="row mt-5">
            <div class="col-md-12">
                <h4 class="text-dark text-center">You haven't selected any conservation projects yet.</h4>
            </div>
        </div>
    }
}
else
{
    <partial name="_DefaultHomePageContentPartial" model=@Model.Categories />
}

<div class="modal fade" id="userLoginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" model="new LoginModel
        {
            Email = string.Empty,
            Password = string.Empty,
            RememberMe = false,
        }">
</div>

<div class="modal fade" id="userRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" model="new RegistrationModel
        {
            Email = string.Empty,
            Password = string.Empty,
            ConfirmPassword = string.Empty,
            FirstName = string.Empty,
            LastName = string.Empty,
            PhoneNumber = string.Empty,
            Address1 = string.Empty,
            Address2 = string.Empty,
            Postcode = string.Empty,
            AcceptUserAgreement = false,
        }">
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AuthScriptsPartial");
    }
}
